<div class="editor editor-wraper d-flex  flex-wrap">
    <div class="col-2"></div>
    <div class="editor editor-forms col-3">
        <form class="form-inline md-form form-sm">
            <input class="form-control form-control-sm mr-3" type="text" placeholder="Name" aria-label="Search"
              mdbInput>
        </form>
    </div>
    <div class="editor editor-forms col-3">
        <form class="form-inline md-form form-sm">
            <input class="form-control form-control-sm mr-3" type="text" placeholder="Description" aria-label="Search"
              mdbInput>
        </form>
    </div>
    <div class="editor editor-forms col-2">
        <div class="d-flex flex-row justify-content-end m-0">
            <div class="cancel">
                <button mat-raised-button>Cancel</button>
            </div>
            <div class="save">
                <button mat-raised-button color="primary">Save</button>
            </div>            
        </div>        
    </div>
    <div class="col-2"></div>
    <div class="editor editor-accordion col-2">
        <app-flow-accordion></app-flow-accordion>
    </div>
    <div class="editor editor-area col-8">
        <app-flow-editor></app-flow-editor>
    </div>
    <div class="editor editor-settings col-2">
        
    </div>
</div>

