 
    <div id="drawflow" (drop)="drop($event)" (dragover)="allowDrop($event)">

     
      <div class="btn-lock">
        <i [style.display]="lock_display" class="fas fa-lock" (click)="editor.editor_mode='fixed'; changeMode('lock');"></i>
        <i [style.display]="unlock_display" class="fas fa-lock-open" (click)="editor.editor_mode='edit'; changeMode('unlock');" style="display:none;"></i>
      </div>
      <div class="bar-zoom">
        <i class="fas fa-search-minus" (click)="editor.zoom_out()"></i>
        <i class="fas fa-search" (click)="editor.zoom_reset()"></i>
        <i class="fas fa-search-plus" (click)="editor.zoom_in()"></i>
      </div>
    </div>
